
<app-navbar />
<div class="home">
  <!-- HEADER / BANNER ROOM SECTION -->
  <section>
    <header class="header-banner">
      <img src="./assets/images/hotel.webp" alt="Mentisse Palace" class="header-image" />
      <div class="overlay"></div>
      <div class="animated-texts overlay-content">
        <h1>Bienvenue à <span class="phegon-color">Hotel Mentisse Palace</span></h1><br />
        <h3>Entrez dans un havre de confort et de soins</h3>
      </div>
    </header>
  </section>
</div>

<app-footer />
<router-outlet />
